<div class=container>
<div class=spacer></div>
  <div class="incontainer">
<div class="text">

<p><strong>On the table:</strong></p>
<p>Vegetarian mezze and local charcuterie platter served with fresh breads and dipping oils.</p>
<p><strong>Main Course:</strong></p>
<p>Choose from the following</p>
<p>&#8226; Barbequed chicken with Za&rsquo;atar spice.</p>
<p>&#8226; Barbequed leg of Herdwick Mutton with Lebanese 7 spice.</p>
<p>&#8226; Courgette fritters served with stuffed vine leaves with saffron rice, pine nuts and fresh herbs.</p>
<p>All served with potatoes and a selection of salads.</p>
<p><strong>For dessert:</strong></p>
<p>Wedding cake served with a selection of cakes, traybakes and sweet treats.</p>
<p><strong>Drinks:</strong></p>
<p>We will be providing all drinks during the day and a cash bar will be open from 7 o&rsquo;clock.</p>
<p><strong>Evening:</strong></p>
<p>Choose from</p>
<p>&#8226; Blue Gray Short Horn hot beef sandwiches, served with a blue cheese dressing.</p>
<p>&#8226; Chickpea burgers with guacamole.</p>
<p>Served with chips.</p>
    
    </div>
    <div class="spacer" ></div>

  </div>
</div>



