<div class=container>

  <div class="spacer" ></div>
 
  <div class="incontainer">
    <div class="text">




    <p>
      Our wedding ceremony will take place at 1 o’clock at All Saints Church, Orton, CA10 3RT. Please aim to arrive by half past 12. 
    </p>

    <p>
      Drinks and dinner to follow at Knipe Hall, Askham, CA10 2PU.
    </p>

    <p>
      The evening reception and dancing will begin at 7 o’clock.
    </p>

    </div>



  <iframe class="frame" src="https://www.google.com/maps/d/u/2/embed?mid=1Ex2wNvDD-LTKofVmdxy33Zcc4BoUPJ28"></iframe>

    <div class="spacer" ></div>

</div>

</div>

