
<div  *ngIf="authorised" class="splashimage">
</div>

<link href="https://fonts.googleapis.com/css?family=Exo:400,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Dancing+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300" rel="stylesheet">

<div class="modal-dialog"  *ngIf="!authorised">
  <div class="loginmodal-container">
    <h1 class="title">Please enter your password:</h1><br>
    <form class="form-signin" (submit)="loginWithEmail($event,password.value)">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="" required="">
      <br>
      <button class="btn btn-md btn-default btn-block" type="submit">Submit</button>
    </form>
  </div>
  <div *ngIf="error" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This is not the password! Please check your invitation.
  </div>
</div>

<nav *ngIf="authorised" class={{navclass}}>
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="!isExpanded">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/rsvp" routerLinkActive="active">RSVP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/ontheday" routerLinkActive="active">On the day</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/gettinghere" routerLinkActive="active">Getting Here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/information" routerLinkActive="active">information</a>
      </li>
      <li *ngIf="admin" class="nav-item">
        <a class="nav-link" (click)="isExpanded = !isExpanded"  routerLink="/replies" routerLinkActive="active">Replies</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li><a (click)='logout()' style='cursor: pointer;'><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
    </ul>
  </div>
</nav>

<router-outlet *ngIf="authorised"></router-outlet>



