

<div class="container">
    <div class="spacer"></div>

  <div class="formobject">
    <div class="title">Please RSVP by 31st May 2018</div>
    <p></p>

<form (ngSubmit)="onSubmit()" #heroForm="ngForm" action="https://formspree.io/lucyharry18@gmail.com"
      method="POST">

      <div class="form-group" >
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group" >
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               [(ngModel)]="model.email" name="email">
      </div>





      <div class="form-group">
        <label for="message">Message</label>
        <textarea placeholder="Please include:&#10;&#10;&#8226; Whether or not you can attend.&#10;&#10;&#8226; Your choice of main course, you can choose a single option or a combination.&#10;&#10;&#8226; Any dietary requirements or allergies, including vegetarian.&#10;&#10;&#8226; A song you’ll get up and dance to.&#10;&#10;" type="text" class="form-control message" 
               [(ngModel)]="model.message" name="message"></textarea>
      </div>



      <p class={{fvis}}>Message failed to send, please retry or contact us directly<p>
      <button type="submit"  value="Send" class={{submitbuttonstyle}} >{{submit}}</button>
      <p class={{svis}}>Thank you, message sent<p>
      
    </form>
        <div class="spacer" ></div>
        <div class="spacer" ></div>

  </div>

 

<div>


</div>

</div>

