


.button{
  position: absolute;
  top: 0px;
  left: 0px;
}


.svg{
   position:absolute;
   top:0;
   left:0px;
}

.firstparagraph{
  position:fixed;
  top:25px;
  width:60%;
  margin-left: 20%;
  margin-top: 200px;
  font-weight: 900;
  font-family: 'Dancing Script', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
  padding: 1em 1em 0em 1em;
  border-radius: 0.25em;
}

.novatext{
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
}

.tagline{
    font-family: 'Dancing Script', cursive;

    font-size: 4em;
}


.para{
    font-family: 'Amatic SC', cursive;
    color: #444444;
    font-size: 3em;
}

.spacer{
  height: 3em;
}
