


.button{
  position: absolute;
  top: 0px;
  left: 0px;
}


.svg{
   position:absolute;
   top:0;
   left:0px;
}

.firstparagraph{
  position:fixed;
  top:25px;
  width:60%;
  margin-left: 20%;
  margin-top: 200px;
  font-weight: 900;
  font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;

  font-size: 1.6em;
  padding: 1em 1em 0em 1em;
  border-radius: 0.25em;
}

.headline{
  color: #242424;
  font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;

  font-size: 5em;
  letter-spacing: 0.2em;
}

.tagline{
  font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;

    font-size: 4em;
}


.para{
  font-family: 'Josefin Sans', sans-serif;
    color: #444444;
    font-size: 3em;
      font-weight: 300;

}

.spacer{
  height: 3em;
}
