<div class=container>

  <div class="spacer" ></div>
  <div class="incontainer text">

<p>There is strictly no parking at All Saints Church, but there is sufficient roadside parking around Orton.</p>
<p>We ask that everyone make their own way to and from Knipe Hall. Parking is limited so please share lifts where possible. </p>

<p><span style="text-decoration: underline;"><strong>Taxis:</strong></span></p>
<p><span>Eden Taxis: 01768 865432 </span></p>
<p><span>Penrith Taxis: 01768 899298</span></p>
<p><span>Town Taxis of Penrith: 01768 868268</span></p>
<p><span>A1 Taxis: 01768 866842</span></p>
<p><span>Blackline Taxis: 01768 865070</span></p>
<p><br /> </p>
<p><span style="text-decoration: underline;"><strong>Accommodation:</strong></span></p>
<p><strong>Shap</strong></p>
<p>The Greyhound: <a href="http://www.greyhoundshap.co.uk/">http://www.greyhoundshap.co.uk/</a></p>
<p>The Hermitage: <a href="https://www.airbnb.co.uk/rooms/14884170">https://www.airbnb.co.uk/rooms/14884170</a></p>
<p>Brookfield House: <a href="http://www.brookfieldshap.co.uk/">http://www.brookfieldshap.co.uk/</a></p>
<p>New Ing Lodge: <a href="http://newinglodge.co.uk/">http://newinglodge.co.uk/</a></p>
<p><strong>Bampton</strong></p>
<p>The Crown and Mitre: <a href="http://www.crownandmitre.com/">http://www.crownandmitre.com/</a></p>
<p>Howgate Foot B&amp;B: <a href="http://howgatefoot.co.uk/">http://howgatefoot.co.uk/</a></p>
<p><strong>Askham</strong></p>
<p>Whitbysteads: <a href="http://whitbysteads.org/">http://whitbysteads.org/</a></p>
<p>The Queen&rsquo;s Head: <a href="http://www.queensheadinnaskham.co.uk/">http://www.queensheadinnaskham.co.uk/</a></p>
<p><strong>Orton</strong></p>
<p>Multiple options can be found here: <a href="http://www.orton.org.uk/accommodation/index.htm">http://www.orton.org.uk/accommodation/index.htm</a></p>


    <div class="spacer" ></div>

  </div>
</div>



