.spacer{
  height:3em;
  width:5em;
}


.overlay{
  position: absolute;
  top: 80px;
  text-align: center;
}

.container{
  position:absolute;
  top:50px;
}

.script{
    font-family: 'Dancing Script', cursive;
}