.spacer{
  height:6em
}

.splashimage{
	position: fixed;
    width: 100%;
	height: 100%;
    background-image: url('https://raw.githubusercontent.com/mattbeevor/wedding/master/src/assets/laurel.jpg');
    background-size: cover;
}
.overlay{
  position: absolute;
  top: 25px;
  text-align: center;
  color: white;
}

.script{
    font-family: 'Dancing Script', cursive;
}